@model Sample.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
            </div>
            <div class="col">
                <h1 class="display-4">Activities List</h1>
            </div>
            <div class="col">
                <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Create">Create</a>
            </div>
        </div>
    </div>

    <form method="get">
        <div class="row g-3">
            <div class="col-auto">
                <label for="Filter" class="col-form-label">Filter</label>
            </div>
            <div class="col-auto">
                <input type="text" id="filter" class="form-control" name="filter" value="@Model.Filter" aria-describedby="filterHelpInline" placeholder="Name Of Activity Contains Filter String">
            </div>
            <div class="col-auto">
                <label for="Filter" class="col-form-label">Apply</label>
            </div>
            <div class="col-auto">
                <input type="checkbox" id="apply" name="apply" value="true" @(Model.Apply.HasValue && Model.Apply.Value ? "checked" : "")>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>PrgId</th>
                <th>Apply</th>
                <th>PrgName</th>
                <th>PrgAct</th>
                <th>PrgDate</th>
                <th>OrgName</th>
                <th>PrgPlace</th>
                <th>ItemDesc</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Activities)
            {
                <tr>
                    <td>
                        <form asp-controller="Home" asp-action="Delete" method="post">
                            <input type="hidden" name="prgId" value="@item.PrgId" />
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                        </form>

                        <a asp-action="Edit" asp-route-id="@item.PrgId" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>

                        @if (Model.IsApply(item))
                        {
                            <input type="hidden" name="prgId" value="@item.PrgId" />
                            <button class="btn btn-sm btn-warning" name="cancel-apply-button"><i class="fa fa-minus"></i></button>
                        }
                        else
                        {
                            <input type="hidden" name="prgId" value="@item.PrgId" />
                            <button class="btn btn-sm btn-primary" name="apply-button"><i class="fa fa-plus"></i></button>


                        }

                    </td>
                    <td>@item.PrgId</td>
                    <td>@(Model.IsApply(item) ? "Yes" : "No")</td>
                    <td>@item.PrgName</td>
                    <td>@item.PrgAct</td>
                    <td>@item.PrgDate</td>
                    <td>@item.OrgName</td>
                    <td>@item.PrgPlace</td>
                    <td>@Html.Raw(item.ItemDesc)</td>
                </tr>

            }
        </tbody>
    </table>

</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('button[name="apply-button"]').on('click', (x) => {
                const proId = $(x.currentTarget).siblings('input').val();
                $.post(`api/activities/apply/${proId}`, callBack);

                function callBack(y) { 
                    console.log(proId);
                }
            });
            $('button[name="cancel-apply-button"]').on('click', (x) => {
                const proId = $(x.currentTarget).siblings('input').val();
                $.post(`api/activities/apply/${proId}`, function (y) {
                    console.log('success', y);
                });
            });
            console.log('init');
        })
    </script>
}

